body {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type="submit"] {
  margin-top: 10px;
  background-color: white;
  font-family: 'Catamaran', serif;
  font-size: 16px;
  color: rgb(20, 20, 20);
  border: solid 1px; border-color: rgb(197, 196, 196);
  outline: none;
  cursor: pointer;
  width: 20%;
}

input[type="submit"]:hover {
  border: solid 1px; border-color: rgb(19, 19, 19);
}